@import url("https://fonts.googleapis.com/css?family=Blinker&display=swap");

html {
  height: 100%;
}

* {
  font-family: "Blinker", sans-serif;
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

a {
  text-decoration: none;
  color: inherit;
}

textarea {
  min-width: 100%;
  max-width: 100%;
  min-height: 100px;
  font-family: Open Sans, Courier New, Courier, monospace;
  font-size: 12px;
}

#root {
  height: 100vh;
}
body {
  /* background: url(https://wallpapercave.com/wp/9PShuk4.jpg) no-repeat center
    fixed;
  background-size: cover; */
  min-height: 100%;
}
.App {
  padding: 20px 20px 20px 100px;
  font-family: Open Sans, Courier New, Courier, monospace;
  background-color: #f2f2f2;
  min-height: 100vh;
}

.input-row {
  text-shadow: -1px 0 black, 0 1px black, 1px 0 black, 0 -1px black;
  color: white;
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin: 10px 0px 10px 0px;
  font-size: 24px;
}

.input-row input {
  color: #fff;
  text-align: center;
  background: 0;
  border-radius: 7px;
  border-style: 18px inset #d2e3ed;
  border-width: 2px;
  border-color: #fff;
  height: 25px;
  /* opacity: 0.7; */
}

.display-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 20px 30px;
  margin-top: 100px;
}

.signup-header {
  color: white;
  text-shadow: -1px 0 black, 0 1px black, 1px 0 black, 0 -1px black;
}

.normal-btn {
  font-size: 16px;
  margin-top: 15px;
  border: 2px solid #fff;
  width: 200px;
  height: 35px;
  opacity: 1;
  border-radius: 5px;
  color: #fff;
  background: 0;
  cursor: pointer;
}

.warning-btn {
  background-color: black;
  padding: 5px 5px;
  color: white;
  border-radius: 10px;
  font-size: 20px;
  outline: none;
  margin-top: 5px;
  margin-left: 10px;
  text-decoration: none;
  transition: transform 0.2s;
}

.warning-btn:hover {
  transform: scale(1.2);
}

.nav-profile-details {
  height: 100px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  margin: 0 0 45px;
}

.nav-container {
  width: 100px;
  height: 100vh;
  position: fixed;
  top: 0;
  left: 0;
  padding-top: 20px;
  color: #fff;
  background-image: linear-gradient(0deg, #ff7abe, #ff9770);
  box-shadow: 10px 0 20px 0 rgba(0, 0, 0, 0.1), 5px 0 5px rgba(0, 0, 0, 0.2);
}

.nav-profile-details-img {
  width: 70px;
  height: 70px;
  background-color: #fff;
  background-position: 50%;
  background-size: cover;
  border-radius: 50%;
  box-shadow: 0 0 20px #333;
}
.home-and-post-links {
  height: 120px;
  display: -ms-flexbox;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
}

.nav-img {
  width: 40px;
  transition: 0.5s;
}

.nav-img:hover {
  transform: scale(1.25);
}

.logout {
  position: absolute;
  bottom: 20px;
  left: 30px;
}
.auth-master {
  height: 100vh;
  width: 100vw;
  color: #fff;
  background-image: linear-gradient(to left, #ffd670, #ff9770, #ff70a6);
  display: flex;
  justify-content: center;
  align-items: center;
  position: absolute;
  top: 0;
  left: 0;
  justify-content: center;
  color: #fff;
}

.auth-container {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
  width: 35vw;
  height: 55vh;
  box-shadow: 0 14px 28px 0 rgba(0, 0, 0, 0.25),
    0 10px 10px 0 rgba(0, 0, 0, 0.26);
  border-radius: 8px;
  background-image: linear-gradient(97deg, #ff7a6e, #ffd670);
  padding: 20px;
}

.helo-image {
  display: flex;
  flex-direction: column;
  align-items: center;
}
.auth-title {
  color: #fff;
  font-size: 80px;
  font-weight: 700;
}
.auth-input-div {
  display: flex;
  justify-content: space-between;
  width: 55%;
}

.auth-input-div input {
  -webkit-writing-mode: horizontal-tb !important;
  text-rendering: auto;
  color: initial;
  letter-spacing: normal;
  word-spacing: normal;
  text-transform: none;
  text-indent: 0px;
  text-shadow: none;
  display: inline-block;
  text-align: start;
  -webkit-appearance: textfield;
  background-color: white;
  -webkit-rtl-ordering: logical;
  cursor: text;
  margin: 0em;
  font: 400 13.3333px Arial;
  padding: 1px 0px;
  border-width: 2px;
  border-style: inset;
  border-color: initial;
  border-image: initial;
}

.auth-buttons {
  display: flex;
  justify-content: space-around;
  width: 55%;
}

.dark-button {
  border-radius: 1px;
  background-image: -o-radial-gradient(50% -46%, circle, #737373, #403d39);
  background-image: radial-gradient(circle at 50% -46%, #737373, #403d39);
  box-shadow: 0 1px 3px 0 rgba(0, 0, 0, 0.1), 0 1px 2px 0 rgba(0, 0, 0, 0.2);
  padding: 10px 20px;
  color: #fff;
  border: none;
}
.Dash {
  width: 70%;
  margin: 0 auto;
}

.content-box {
  border-radius: 2px;
  background-color: #fff;
  padding: 20px;
  box-shadow: 0 1px 3px 0 rgba(0, 0, 0, 0.1), 0 1px 2px 0 rgba(0, 0, 0, 0.2);
}

.author-box {
  display: flex;
  justify-content: flex-end;
  align-items: flex-end;
  width: 30%;
}

.author-box img {
  width: 40px;
  height: 40px;
  border-radius: 50%;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.4);
  margin: 0 5px;
}

.dash-filter {
  display: flex;
  margin: 10px 0;
}

.dash-search-box {
  width: 75%;
}

.dash_reset {
  height: 25px;
  padding: 5px 10px;
}
.dash-check-box,
.dash-post-box {
  display: flex;
}

.dash-post-box {
  justify-content: space-between;
  align-items: center;
  margin: 10px 0;
  transition: 0.5s;
}

.dash-post-box:hover {
  transform: scale(1.05);
}

.dash-search-bar {
  height: 25px;
  width: 90%;
}

.dash-search-button {
  height: 25px;
  width: 25px;
  background-color: #ff9770;
  border-radius: 2px;
  padding: 2px;
}

.dash-check-box {
  justify-content: space-around;
}
